[user]
	name = Kin Fei Lee
	email = <redacted>
	signingkey = <redacted>
[commit]
	gpgsign = true
[gpg]
	program = gpg
[push]
	autoSetupRemote = true
[merge]
	ff = false
	commitMessage = Merge branch '%s'
[pull]
	rebase = true
	ff = only
[fetch]
	ff = only
